[submodule "shepherd-client"]
	path = shepherd-client
	url = https://github.com/humberthardy/shepherd-client.git
        branch = full-webrtc
[submodule "remote-desktop-server"]
	path = remote-desktop-server
	url = https://github.com/humberthardy/remote-desktop-server.git
        branch = full-webrtc
[submodule "coturn"]
	path = coturn
	url = https://github.com/coturn/coturn.git
