version: '3.5'

services:
    shepherd:
        image: oldwebtoday/shepherd:1.1.0
        build: ./
        
        depends_on:
            - redis

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./shepherd/static_base/:/app/shepherd/static_base/
            - ./shepherd/templates/:/app/shepherd/templates/

        environment:
            - DEBUG=1

        ports:
            - 9020:9020


    redis:
        image: redis:3.2.4


